@LKT =
  Router: {}
  Views: {}
  Utils: {}
  Models: {}
  Collections: {}
  Templates: {}
  Players: []
  Config:
    # enviroment must equal 'production', 'staging', or 'local'
    enviroment: 'ENVGOESHERE'
    templates_path: 'templates/'
    templates_type: 'html'
    auth_server:
      local: 'localhost:3500'
      staging: 'keepiteasy.net:3500'
      production: 'keepiteasy.net:3500'
    socketio_server:
      local: 'localhost:1347'
      staging: 'keepiteasy.net:1347'
      production: 'fear-the-dice-socket.herokuapp.com'
    api_server:
      local: 'localhost:3000'
      staging: 'keepiteasy.net:3000'
      production: 'fear-the-dice-api.herokuapp.com'
