@font-face {
  font-family: 'Monthoers';
  src: url('fonts/monthoers-webfont.woff2') format('woff2'),
       url('fonts/monthoers-webfont.woff') format('woff'),
       url('fonts/monthoers-webfont.ttf')  format('truetype');
}
html {
  font-size:62.5%;
}

/*$red: #5d0000;*/
/*$red2: #4a0000;*/
/*$green: #08493d;*/
/*$green2: #05332a;*/
/*$orange: #7f2e00;*/

$white: #FDFFFC; 
$black: #000000;
$black2: #111111;
$grey: #B3B5B7;
$grey2: #8f9092;
$grey3: #43474c;
$blue: #011627;
$red: #E71D36;
$green: #2EC4B6;
$yellow: #FF9F1C;
$yellow2: #66400B;

body {
  font-family: "Monthoers", 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: $black2;
  color: $white;
}

h1 {
    font-size: 8rem;
    text-align: center;
}

h2,
h3 {
  font-size: 3.5rem;
  margin: 0rem 1rem;
  display: inline-block;
}

button {
  outline: 0rem;
  height: 4rem;
  width: 10.25rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border-color: transparent;
  background-color: $white;
  color: $black;
  margin: .5rem 0rem;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.game,
.players,
.monsters {
  margin-top: 1rem;
}

.player__thumb {
  width: 200px;
  height: 140px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.sidebar__monster,
.sidebar__player {
    font-size: 2rem;
    margin: .2rem;
    padding: 1rem;
    background-color: $blue;
    color: $white;
    cursor: pointer;

    .sidebar__name,
    .sidebar__stat {
      font-weight: 600;
    }

    .sidebar__name {
      font-size: 2.5rem;
    }

    .sidebar__stat--value {
      margin-right: 1rem;
    }

    i {
      font-size: 3rem;

      .glyphicon-remove {
        color: $red;
      }
    }
}

.monster,
.player {
    font-size: 2rem;
    padding: 1rem;
    background-color: $blue;
    color: $white;
    display: none;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    .lead {
      font-size: 2.5rem;
      margin-bottom: 0px;
    }

    &.turn {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    &.dead {
      background-color: $red;
    }

    .monster__stat,
    .monster__stat--locked,
    .player__stat,
    .player__stat--locked {
        font-weight: 600;
        margin-right: .2rem;
        cursor: pointer;
        display: inline-block;
        padding: .5rem 0rem;
    }

    .player__name,
    .monster__name,
    .character__name,
    .player__stat--value {
        cursor: pointer;
    }

    .monster__stat--locked,
    .player__stat--locked,
    .player__stat--value--locked {
        cursor: auto;
    }

    .player__name--edit,
    .monster__name--edit,
    .character__name--edit,
    .player__stat--edit,
    .monster__stat--edit {
        display: none;

        input {
            font-size: 2rem;
            height: 4rem;
            width: 8rem;
            color: $black;
        }

        i {
            cursor: pointer;
            margin-left: .5rem;
        }
    }

    .player__name--edit,
    .monster__name--edit,
    .character__name--edit
    {
      input {
        margin: 2rem 0rem .4rem 0rem;
        height: 4rem;
        width: 12rem;
        font-size: 2rem;
      }

      i {
        font-size: 2rem;
      }
    }

    .player__control,
    .player__hit,
    .monster__hit,
    .player__heal,
    .monster__heal,
    .monster__delete,
    .player__delete {
      cursor: pointer;
      background-color: $red;
      color: $white;
      width: 100%;
      margin: .4rem 0rem;

      &:hover {
        background-color: $white;
        color: $red;
      }
    }

    .player__control {
        background-color: $green;

      &:hover {
        background-color: $white;
        color: $green;
      }
    }

    .monster__heal,
    .player__heal {
      background-color: $green;
      color: $white;

      &:hover {
        background-color: $white;
        color: $green;
      }
    }

    .monster__delete,
    .player__delete {
      background-color: $black;
      color: $white;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }

    .monster__hit--edit,
    .player__hit--edit,
    .monster__heal--edit,
    .player__heal--edit {
      display: none;

      input {
        width: 5rem;
        height: 4rem;
        font-size: 2rem;
      }

      i {
          cursor: pointer;
          font-size: 2rem;
          margin-left: .5rem;
      }
    }
}

.base-view {
    .turn__next_btn,
    .player__hit,
    .monster__hit,
    .player__heal,
    .monster__heal,
    .monster__delete,
    .player__delete {
        display: none;
    }
}

.active-player {
    .turn__next_btn {
        display: inline-block;
    }

    .player,
    .monster {
        &.turn,
        &.active-player {
            .player__hit,
            .monster__hit,
            .player__heal,
            .monster__heal,
            .monster__delete,
            .player__delete {
                display: none;
            }
        }

        .player__control {
            display: none;
        }

        .player__hit,
        .monster__hit,
        .player__heal,
        .monster__heal,
        .monster__delete,
        .player__delete {
             display: inline-block;
        }
    }
}

.monster {
    background-color: $yellow;
}
