.base-view
    .container.text-center
      h1 Fear the Dice! 
      p The DM doesn't have it out for you... the dice do
      .row.text-center
        button.turn__next_btn
          | Pass Turn 

    .container.game
