.container
  .row.text-center
    h1 Fear the Dice 
    h2 The DM doesn't have it out for you... the dice do
  .row.text-center
    button.players__add_btn
      | Add Player
    button.monster__add_btn
      | Add Monster
    button.turn__next_btn
      | Pass Turn 
  .row
    .col-md-3
      h3='Monsters'
      .monsters
      h3='Players'
      .players
    .col-md-9
      .game.dm-view
