.container
  .row.text-center
    h1 Fear the Dice 
    button.players__add_btn
      | Add Player
    button.monster__add_btn
      | Add Monster
  .row.text-center
    button.turn__next_btn
      | Pass Turn 
  .row
    .col-md-2
      h3='Monsters'
      .monsters
      h3='Players'
      .players
    .col-md-10
      .game
