.sidebar
  .row.sidebar-section
    .col-md-4
      h3='Monsters'
    .col-md-8.text-right
      button.monster__add_btn
        | New Monster
  .row.affix
    .monsters

  //-.row.sidebar-section
    //-.row
      //-.col-md-4
        //-h3='Players'
      //-.col-md-8.text-right
        //-button.players__add_btn
          //-| Add Player
    //-.row
      //-.players

.game-wrapper
  .row.text-left.game-header
    .col-md-4
      h3='The Battle'
    .col-md-8.text-right
      button.players__add_btn
        | Add Player
      button.turn__next_btn
        | Pass Turn 
      button
        | end Combat
  .game.dm-view.row.affix
