nav.navbar.dm-navbar.navbar-fixed-top
    .row.text-center
        button.players__add_btn
            | Add Player
        button.monster__add_btn
              | Add Monster
        button.turn__next_btn
            | Pass Turn 

.container-fluid
    .col-md-3.affix.sidebar
        .row.sidebar-section
            h3='Monsters'
            .monsters
        .row.sidebar-section
            h3='Players'
            .players

    .col-md-9.col-md-offset-3.game.dm-view.affix
        
