.col-xs-12.text-center
  h2 Players
.col-xs-12.text-right
  button.players__save.glyphicon.glyphicon-plus(data-toggle="tooltip", title=" New Player")
  button.players__cancel.glyphicon.glyphicon-remove
.col-xs-12.players
